*{
  box-sizing: border-box
}
.App {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2em;

}
.container{
  border-radius: 1em;
  display: flex;
  background-color: darkslateblue;
  max-width: 1200px;  
  min-width: 921px;
  padding: 1.5em;
  justify-content: center;
  overflow-y: scroll;


}
.message-item{
  display: grid;
  grid-template-areas: 'mess text text text text';
  margin: .5em;
  padding: .5em;
  background-color: white;
  border-radius: 1em; 
}
.message-code{
  grid-area: mess;
  display: flex;
  align-self: center;
  align-content: center;
  font-size: 2em;
  font-weight: bold
}
.message-body{
  grid-area: text;
  display: flex;
  flex-direction: column;
}
.filter-field{
  margin:1em;
}
.message-form{
  margin: 1em;
}
.answer-list{ 
}
.answer-list-title{
  font-size: 1.5em;
}
.text-wrapper{
  background-color: rgba(128, 128, 128, 0.404);
  padding: .5em;
  border-radius: 1em;
  margin: .2em;
}